// Styling for the "Property Agent" block

.itre-property-agent {
    container: prop-agent / inline-size;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;

    &__meta {
        display: flex;
        gap: 0.75rem;
    }

    &__phone,
    &__mail {
        margin-bottom: 0rem;

        a {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    figure {
        flex-basis: 25%;
        flex-shrink: 0;
        margin-bottom: 0;
    }

    &__info {
        flex-basis: calc(75% - 0.75rem);
        flex-shrink: 0;
    }

    @container prop-agent (min-width: 62rem) {

        &__info {
            flex-basis: calc(65% - 1.25rem);
        }
    }

    h3 {
        color: var(--accent);
    }
}