.itre-walk-score {

    &__wrapper {
        display: grid;
        text-align: center;

        @media (min-width: 48rem) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__icon {
        width: 20%;
        margin: auto;
    }

    svg {
        width: 100%;
        height: auto;
    }

    &__desc {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    &__score {
        display: inline-block;
        width: 2.75rem;
        padding: 0.1875rem 0 0;
        vertical-align: center;
        font-weight: 700;
        color: white;
        margin-right: 0.5rem;
        border-radius: 0.25rem;
    }
}