:root {
  --title-font: "League Spartan", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --title-weight: 700;
  --body-weight: 400;
  --border-radius: 10px;
  --body-text: #000000;
  --excerpt: #999999;
  --accent: #2e6d87;
  --dark: #08445d;
  --masthead-bg: white;
  --link: #999999;
  --link-hvr: #555555;
  --nav-bg: #2e6d87;
  --nav-link: #2e6d87;
  --subnav-link: white;
  --footer-bg: #08445d;
  --footer-link: white;
  --footer-text: white;
}

.itre-featured-property {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 500px;
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
}
@media (max-width: 60rem) {
  .itre-featured-property {
    margin-bottom: 14rem !important;
  }
}
@media (min-width: 60rem) {
  .itre-featured-property {
    margin-bottom: 4rem;
  }
}
.itre-featured-property img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  left: 0;
  z-index: -1;
}
.itre-featured-property__info {
  width: 100%;
  background-color: white;
  padding: 2em;
  border-radius: 0.625rem;
  margin-left: auto;
  margin-bottom: -10rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 60rem) {
  .itre-featured-property__info {
    width: 33.33%;
    margin-bottom: 0;
    border-radius: 0.625rem 0.625rem 0 0;
    box-shadow: none;
    margin-right: 5%;
  }
}
.itre-featured-property__price {
  color: var(--accent);
}
.itre-featured-property__excerpt {
  color: var(--excerpt);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.itre-featured-property__features {
  padding: 0.4rem 0;
}
.itre-featured-property__features i {
  color: var(--accent);
}
.itre-featured-property__features > span {
  margin-right: 0.625rem;
}
.itre-featured-property__features > span span {
  margin: auto 0.25rem;
}
.itre-featured-property__link a {
  margin-top: 0.5rem;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
}
.itre-featured-property__link a:after {
  content: "\f178";
  font-family: "FontAwesome";
  margin-left: 0.5rem;
}
