:root {
  --title-font: "League Spartan", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --title-weight: 700;
  --body-weight: 400;
  --border-radius: 10px;
  --body-text: #000000;
  --excerpt: #999999;
  --accent: #2e6d87;
  --dark: #08445d;
  --masthead-bg: white;
  --link: #999999;
  --link-hvr: #555555;
  --nav-bg: #2e6d87;
  --nav-link: #2e6d87;
  --subnav-link: white;
  --footer-bg: #08445d;
  --footer-link: white;
  --footer-text: white;
}

h2 {
  font-family: sans-serif;
}

.section-title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.section-top {
  margin-bottom: 1.25rem;
}

input.error {
  border: solid 1px #da2c2c !important;
  box-shadow: 0 0 0 0.5px #da2c2c !important;
}

.editor-styles-wrapper section {
  border: solid 1px var(--wp--preset--color--black);
  padding: 1rem;
  border-radius: 2px;
}
