.itre-properties__wrapper {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
}
.itre-properties__form {
  text-align: right;
  margin-bottom: 1.25rem;
}
.itre-properties__form select {
  padding: 0.25rem 1.75rem 0.25rem 0.875rem;
  min-width: 3rem;
  cursor: pointer;
}
