:root {
  --title-font: "League Spartan", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --title-weight: 700;
  --body-weight: 400;
  --border-radius: 10px;
  --body-text: #000000;
  --excerpt: #999999;
  --accent: #2e6d87;
  --dark: #08445d;
  --masthead-bg: white;
  --link: #999999;
  --link-hvr: #555555;
  --nav-bg: #2e6d87;
  --nav-link: #2e6d87;
  --subnav-link: white;
  --footer-bg: #08445d;
  --footer-link: white;
  --footer-text: white;
}

.itre-showcase__sections {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 48rem) {
  .itre-showcase__sections {
    grid-template-columns: repeat(3, 1fr);
  }
}
.itre-showcase__section {
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 60rem) {
  .itre-showcase__section {
    margin-bottom: 0;
  }
}
.itre-showcase figure {
  margin-bottom: 1.25rem;
}
.itre-showcase figure img {
  width: 65%;
  margin: auto;
}
.itre-showcase h3 {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.itre-showcase h3:before {
  content: "";
  position: absolute;
  top: 100%;
  height: 0.25rem;
  width: 5rem;
  background-color: var(--accent);
  left: 0;
  right: 0;
  margin: auto;
}
