// Styling for Archives

body.archive {

    &.post-type-archive-property,
    &.tax-location,
    &.tax-property-type {
        
        .itre-property-archive-wrapper {
            display: grid;
            column-gap: 1.5rem;
            row-gap: 2rem;
            max-width: 82.5rem;

            &.col2 {

                @media (min-width: 48rem) {
                    grid-template-columns: 1fr 1fr;
                }
            }

            &.col3 {

                @media (min-width: 48rem) {
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width: 64rem) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            &.col4 {

                @media (min-width: 48rem) {
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width: 64rem) {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
}