// Styling for Archives

body.archive {

    h1.page-title {
        text-decoration: underline;
        text-decoration-color: var(--accent);
        text-decoration-thickness: 0.25rem;
    }

    &.post-type-archive-property,
    &.tax-location,
    &.tax-property-type {

        &.has-sidebar .itre-property-archive-wrapper {
            max-width: none;
            margin: 0;
        }
        
        .itre-property-archive-wrapper {
            display: grid;
            column-gap: 1.5rem;
            row-gap: 2rem;
            max-width: 48rem;
            margin: 0 auto;

            &.col2 {

                @media (min-width: 48rem) {
                    grid-template-columns: 1fr 1fr;
                }
            }

            &.col3 {

                @media (min-width: 48rem) {
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width: 64rem) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            &.col4 {

                @media (min-width: 48rem) {
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width: 64rem) {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
}