//Contact Form Styling

.itre_contact_form {
    background-color: var(--accent);
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (min-width: 60rem) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__wrapper {
        max-width: 62.5rem;
        margin: 0 auto;
        color: white;
        max-width: 52.5rem;

        h2,
        p,
        .submit-wrap {
            text-align: center;
        }
    }

    .nf-error-msg, .ninja-forms-req-symbol {
        color: #ff3636;
    }
}
