//Styling for Property Filter
.itre-property-filter {
	position: relative;
	background-color: var(--accent);
	border-radius: var(--border-radius);
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);

	body.page-template-template-property-listings & {
		margin-top: -3.5rem;
	}

	@media (min-width: 48rem) {
		margin-left: auto;
		margin-right: auto;
	}
	select, input, button {
		height: 100%;
		width: 100%;
		border: 0;
		border-radius: 3px;
	}
	select {
		background-color: white;
	}
	@media (max-width: 767px) {
		button {
			margin-top: 4px;
		}
	}
	.form-control-wrapper {
		padding-top: 0.3em;
		padding-bottom: 0.3em;
	}
	button[type="button"] {
		text-transform: uppercase;
	}
}

.itre-for-tag {
	color: white;
	line-height: 1;
	padding: 0.4em 0.4em 0.2em;
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 0.85em;
	&.sale {
		background-color: rgba(121,217,18,0.8);
	}
	&.rent {
		background-color: rgba(229,209,23,0.8);
	}
	&.sold {
		background-color: rgba(41,162,204,0.8);
	}
	&.coming-soon {
		background-color: rgba(92,21,119,0.8);
	}
	&.active {
		background-color: rgba(162,54,198, 0.8);
	}
}

.itre-property-listing {
	margin-top: 2rem;
}


body:not(.single-property) article.type-property {
	.itre_address {
		color: #999999;
		padding-bottom: 0.8em;
	}
	.itre_features {
		margin-top: auto;
		border-top: solid 1px #eeeeee;
		padding-top: 0.6em;
		padding-bottom: 0.8em;
		font-size: 0.9rem;
		i {
			color: var(--accent);
		}
		svg {
			vertical-align: baseline;
			> * {
			   fill: var(--accent);
		   }
		}
		> span {
			margin-right: 0.6em;
			span {
				margin: auto 0.25em;
			}
		}
	}
	&[class^="col-"] {
		margin-bottom: 1.6em;
		.listing-wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			border-radius: var(--border-radius);
			box-shadow: $shadow1;
			background-color: white;
			overflow: hidden;
			.itre-prop-thumb {
				position: relative;
				.prop-price {
					position: absolute;
					bottom: 0;
					left: 0;
					color: white;
					background-color: var(--accent);
					font-weight: var(--bold);
					font-size: 1.2em;
					padding: 0.4em 0.75em 0.3em;
					opacity: 0.85;
				}
			}
			.itre-for-tag {
				position: absolute;
				left: 0.6em;
				top: 0.5em;
			}
			> *:not(.itre-prop-thumb) {
				padding: 0 15px;
				line-height: 1.2;
			}
			h2 {
				margin: 0.875rem auto 0.25rem;
				font-size: 1.75rem;
				line-height: 2rem;
			    @extend %regular;
			}
			a {
				color: black;
			}
			.itre_features {
				margin-top: auto;
				border-top: solid 1px #eeeeee;
				padding-top: 0.6em;
				padding-bottom: 0.8em;
				i {
					color: var(--accent);
				}
				> span {
					margin-right: 0.6em;
					span {
						margin: auto 0.25em;
					}
				}
			}
		}
		&.property-tab {
			.entry-header {
				position: absolute;
				bottom: 0;
				width: 100%;
				@include gradient(to top);
				padding-top: 2em;
				padding-bottom: 0.8em;
			}
			.listing-wrapper {
				position: relative;
				height: auto;
			}
			.itre-for-tag {
				left: unset;
				right: 0.6em;
			}
			.prop-price {
				bottom: unset !important;
				top: 0;
			}
			h2 {
				color: white;
			}
		}
	}
	&.list {
		.listing-wrapper {
			display: flex;
			flex-direction: column;
			@media (min-width: 768px) {
				flex-direction: row;
			}
		}
		h2 {
			@extend %regular;
		}
		.itre-prop-content {
			display: flex;
			flex-direction: column;
			padding-left: 15px;
		}
		.prop-price-info {
			display: flex;
			align-items: center;
		}
		.prop-price {
			color: var(--accent);
			@extend %bold;
			font-size: 1.2em;
			margin-right: 0.4em;
			margin-top: 5px;
			line-height: 1;
		}
		.itre_features {
			padding-bottom: 0;
		}
	}
}
