// Footer Styling

#footer-sidebar {
    background-color: var(--footer-bg);
    padding-top: 3rem;
    margin-top: 2rem;
    color: var(--footer-text);
    text-align: center;

    @media (min-width: 48rem) {
        text-align: left;
    }

    a {
        color: var(--footer-link);
        text-decoration: underline;
    }

    caption {
        color: var(--footer-text);
    }

    .footer-column {

        @media (min-width: 60rem) {
            padding-top: 3em;
        }
    }
}

#colophon {
    background-color: var(--dark);
    color: white;
    text-align: center;
    a {
        color: white;
        text-decoration: underline;
    }
    .site-info {
        padding: 0.2em 1em;
    }
}
