// Header Styling

.itre-cta {
    @extend %btn;
    @media (max-width: 991px) {
        font-size: 0.9em;
    }
}

#masthead {
    position: relative;
    background-color: var(--masthead-bg);

    .top-wrapper {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    & > * {
        position: relative;
    }
    .custom-logo {
        max-height: 120px;
    }
    #header-video, #header-image, .slide-img {
        & > * {
            position: relative;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    .itre-hero-area {
        max-width: 80%;
        margin: auto;
        text-align: center;
        top: 40%;
        z-index: 2;
        color: white;
        h1 {
            font-size: 2.4em;
            @media (min-width: 768px) {
                font-size: 4em;
            }
        }
        p {
            font-size: 1.2em;
        }
    }
    .site-title, .site-description {
        margin-bottom: 0;
    }
    body & {
        .site-title {
            a {
                font-size: 2rem;
                @extend %bold;
                line-height: 1.2;
            }
        }
    }

    .layout2 {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .site-branding {

            @media (min-width: 64rem) {
                margin-bottom: 0.65em;
            }
        }
        
        ul li {
            text-align: left;
        }

        @media (min-width: 64rem) {
            display: block;
        }
    }

    .layout3 {

        button.mobile-nav-btn {
            display: block !important;
        }
    }
}

#header-image {
    height: 250px;

}

#header-slider {
    position: relative;
    overflow: hidden;

    img {
        bottom: 0;
    }

    .itre-hero-area {
        
        @media (min-width: 64rem) {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 0;
            right: 0;
            z-index: 2;
        }
    }
}

#header-video {
    position: relative;
}
