// Header Styling

.itre-cta {
    @extend %btn;
    @media (max-width: 991px) {
        // font-size: 0.9375rem;
    }
}

#masthead {
    position: relative;
    background-color: var(--masthead-bg);

    .top-wrapper {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    & > * {
        position: relative;
    }
    .custom-logo {
        max-height: 7.5rem;
        width: auto;
    }
    #header-video, #header-image, .slide-img, .itre-banner {

        & > *:not(img) {
            position: relative;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    
    .itre-hero-area {
        position: relative;
        max-width: 80%;
        margin: auto;
        text-align: center;
        z-index: 2;
        color: white;
        
        h1 {
            font-size: 2.4em;

            @media (min-width: 768px) {
                font-size: 4em;
            }
        }

        p {
            font-size: 1.2em;
        }
    }

    .site-title, .site-description {
        margin-bottom: 0;
    }

    body & {

        .site-title {

            a {
                font-size: 2rem;
                @extend %bold;
                line-height: 1.2;
            }
        }
    }

    .layout2 {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .site-branding {

            @media (min-width: 64rem) {
                margin-bottom: 0.65em;
            }
        }
        
        ul li {
            text-align: left;
        }

        @media (min-width: 64rem) {
            display: block;
        }
    }

    .layout3 {

        button.mobile-nav-btn {
            display: block !important;
        }
    }

    &.header-widget {

        .header-widget-area-wrapper {
            overflow: hidden;
            padding: 1.25rem 0;
            
            > * {
                display: flex;
                align-items: center;
            }
        }

        .itre-hero-area {
            margin: 0;
            min-width: 50%;
            text-align: left;
        }

        .header-widget-area {
            position: relative;
            z-index: 9;
            min-width: 50%;
        }

        #header-image {
            height: auto;

            @media (min-width: 48rem) {
                display: flex;
                align-items: center;
                gap: 1.25rem;
            }
        }

        .header {

            &-wrapper {
                width: 100%;
                position: relative;
                z-index: 9;
                margin-top: 1.25rem;
                margin-bottom: 4rem;

                @media (min-width: 48rem) {
                    display: flex;
                    align-items: center;
                    margin-top: 2.5rem;
                    margin-bottom: 5rem;

                    > * {
                        width: 50%;
                    }
                }
            }

            &-hero-wrapper {
                
                .itre-hero-area {
                    padding-top: 2rem;

                    @media (min-width: 48rem) {
                        padding-top: 0;
                        text-align: initial;
                        width: 100%;
                        max-width: none;
                    }
                }

                p {
                    color: white;
                    margin-bottom: 2.5rem;
                    
                    @media (min-width: 48rem) {
                        width: 60%;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        margin-bottom: 0;
                    }
                }
            }

            &-widget-area-wrapper {

                .wpcf7, .nf-form-content {
                    padding: 1.5rem;
                    background-color: rgba(255,255,255,0.45);
                    border-radius: 0.5rem;

                    input,
                    select,
                    textarea {
                        border-radius: 0.25rem;
                        border: 0;
                    }
                }

                .nf-error-msg {
                    display: none;
                }
            }
        }
    }

    &.filter-simple {
        width: 100%;

        .itre-header-filter-simple {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            z-index: 9;
        }

        #header-image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .itre-property-filter {
            max-width: 62rem;
        }
    }

    .header-slider-wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }

    .itre-header-video {
        z-index: 1;
    }
}

.itre-header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15.625rem;
    position: relative;
    overflow: hidden;
}

#header-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
}

#header-slider {
    position: relative;
    overflow: hidden;

    img {
        bottom: 0;
    }

    .itre-hero-area {
        
        @media (min-width: 64rem) {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 0;
            right: 0;
            z-index: 2;
        }
    }
}

#header-video {
    position: relative;
}
