//Styling for Property Content
body.single-property {
    .post-thumbnail {
        img {
            border-radius: var(--border-radius);
        }
    }
    .entry-meta {
        color: var(--link);
        i {
            color: var(--accent);
        }
        svg {
            margin-right: 5px;
            margin-bottom: 5px;
            polygon, path {
                fill: var(--accent);
            }
        }
        a {
            text-decoration: underline;
        }
    }
    .prop-price {
        @extend %bold;
        color: #60ce19;
    }
    #property-map {
        height: 500px;
        width: 100%;
    }
}

// Styling for property listing card
body:not(.single-property) article.type-property {
	.itre_address {
		color: #999999;
		font-size: 1rem;
		line-height: 1.375rem;
		white-space: pre-wrap;
		margin-top: 0.75rem;
	}
	.itre_features {
		margin-top: 2rem;
		border-top: solid 1px #eeeeee;
		padding-top: 0.6em;
		padding-bottom: 0.8em;
		font-size: 0.875rem;
		i {
			color: var(--accent);
		}
		svg {
			vertical-align: baseline;
			> * {
			   fill: var(--accent);
		   }
		}
		> span {
			margin-right: 0.6em;
			span {
				margin: auto 0.25em;
			}
		}

		@media (min-width: 48rem) {
			margin-top: auto;
		}
	}

	.itre-for-tag {
		position: absolute;
		left: 0.6em;
		top: 0.5em;
	}

	&.grid {
		margin-bottom: 1.625rem;

		.listing-wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			border-radius: var(--border-radius);
			box-shadow: $shadow1;
			background-color: rgba(255,255,255,0.1);
			overflow: hidden;

			.itre-prop-thumb {
				position: relative;

				img {
					width: 100%;
				}

				.prop-price {
					position: absolute;
					bottom: 0;
					left: 0;
					color: white;
					background-color: var(--accent);
					font-weight: var(--bold);
					font-size: 1.2em;
					padding: 0.4em 0.75rem 0.3125rem;
					opacity: 0.85;
				}
			}
			> *:not(.itre-prop-thumb) {
				padding: 0 1rem;
				line-height: 1.2;
			}

			> *:nth-last-child(2) {
				margin-bottom: 2.5rem;
			}

			> *:not(.itre-prop-thumb) {
				padding: 0 1rem;
				line-height: 1.2;
			}

			h2 {
				margin: 0.875rem auto 0.25rem;
				font-size: 1.75rem;
				line-height: 2rem;
			    @extend %regular;
			}
			
			a {
				color: black;
			}

			.itre_features {
				margin-top: auto;
				border-top: solid 1px #eeeeee;
				padding-top: 0.625rem;
				padding-bottom: 0.875rem;

				i {
					color: var(--accent);
				}

				> span {
					margin-right: 0.625rem;

					span {
						margin: auto 0.25rem;
					}
				}
			}
		}

		&.property-tab {

			.entry-header {
				position: absolute;
				bottom: 0;
				width: 100%;
				@include gradient(to top);
				padding-top: 2rem;
				padding-bottom: 0.875rem;
			}

			.listing-wrapper {
				position: relative;
				height: auto;
			}
			.itre-for-tag {
				left: unset;
				right: 0.625rem;
			}
			.prop-price {
				bottom: unset !important;
				top: 0;
			}
			h2 {
				color: white;
			}
		}
	}
}

.spinner {
	width: 100%;
	min-height: 12.5rem;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 5rem;
		height: 5rem;
		animation: svgRotate 1000ms linear infinite;
	}
}

@keyframes svgRotate {
    0% {
        @include transform(rotate(0deg));
    }

    100% {
        @include transform(rotate(360deg));
    }
}

.itre-for-tag {
	color: white;
	line-height: 1;
	padding: 0.4em 0.4375rem 0.25rem;
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 0.85em;
    
	&.sale {
		background-color: rgba(121,217,18,0.8);
	}
	&.rent {
		background-color: rgba(229,209,23,0.8);
	}
	&.sold {
		background-color: rgba(41,162,204,0.8);
	}
	&.coming-soon {
		background-color: rgba(92,21,119,0.8);
	}
	&.active {
		background-color: rgba(162,54,198, 0.8);
	}
}