// Styling of the theme

html {
    font-size: 16px;
}

body {
    font-family: var(--body-font);
    font-size: 1.125rem;
    line-height: 1.875rem;
    -webkit-font-smoothing: antialiased;
    @extend %regular;
    color: var(--body-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

::selection {
    background-color: rgba(#346d85, 0.2);
}

/* Links
--------------------------------------------- */
a {
	color: var(--accent);
    text-decoration: none;
    transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -webkit-transition: all 100ms ease;

    &:hover,
    &:focus {
        text-decoration: underline;
        outline: none;
    }
}

%btn {
    display: inline-block;
    background-color: var(--accent);
    padding: 0.8rem 1rem 0.65rem;
    text-transform: uppercase;
    @extend %bold;
    line-height: 1;
    color: white;
    border-radius: 0.3125rem;
    &:hover {
        @include transform(scale(1.05));
    }
}

%underline {
    @include transition(all 150ms $standard);
    &:hover {
        text-decoration: underline;
    }
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: 0;
	background-color: var(--dark);
	color: white;
	padding: 0.4em 1em 0.25rem;
    text-transform: uppercase;
    @extend %bold;
    letter-spacing: 0.05rem;
    @include transition(all 150ms ease-out);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    @include transform(scale(1.07));
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    @include transform(scale(1.07));
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	color: #666;
	border-radius: 0;
	padding: 0.7rem;
    outline: none;
    @include transition(all 100ms ease);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    background-color: white;
}

.section {
    margin-bottom: 4rem;
}

.section-title {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 0;
}

.section-sub {
    text-align: center;
    color: var(--excerpt);
    width: 100%;
    margin: 0 auto;
    line-height: 1.5rem;
    @media (min-width: 48rem) {
        width: 65%;
    }
}

.section-top {
    margin-bottom: 1.25rem;
}


#content {
    position: relative;
    z-index: 1;
    
    &.wide {
        --bs-gutter-x: 0rem;
    }

    body:not(.page-template-template-property-listings) & {
        padding-top: 2em;

        &.box {
            background-color: white;
        }
    }

    body.has-sidebar & {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2.5rem;
        justify-content: space-between;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-left: auto;
        margin-right: auto;
    }
}

header.page-header {
    text-align: center;
    margin-bottom: 2.5rem;
}

//Styling for "Show All" button for blog section in front page
#itre-front-blog {
    .itre-front-blog-cta {
        text-align: center;
        a {
            @extend %btn;
        }
    }
}


/* Animations
--------------------------------------------- */
@keyframes activeTab {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

// Go to Top Button
#itre-back-to-top {
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 3rem;
    bottom: 3rem;
    z-index: 9;
    color: var(--accent);
    background-color: rgba(255,255,255,0.7);
    border-radius: var(--border-radius);
    cursor: pointer;
    opacity: 0;
    i {
        padding: 1em 1.25em 1.2rem;
    }
}