:root {
  --title-font: "League Spartan", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --title-weight: 700;
  --body-weight: 400;
  --border-radius: 10px;
  --body-text: #000000;
  --excerpt: #999999;
  --accent: #2e6d87;
  --dark: #08445d;
  --masthead-bg: white;
  --link: #999999;
  --link-hvr: #555555;
  --nav-bg: #2e6d87;
  --nav-link: #2e6d87;
  --subnav-link: white;
  --footer-bg: #08445d;
  --footer-link: white;
  --footer-text: white;
}

.main-navigation, .widget ul, .widget ol, #respond label {
  font-family: var(--title-font);
}

body, body:not(.single-property) article.type-property.grid .listing-wrapper h2, article[class^=col-].type-post h2,
article[class^=col-].type-page h2, article.list h2 {
  font-weight: var(--body-weight);
}

button,
input[type=button],
input[type=reset],
input[type=submit], #itre-front-blog .itre-front-blog-cta a, .itre-cta, body #masthead .site-title a, #menu ul li.menu-item-has-children span.dropdown-arrow i, #comments .comment .reply a, body.single-property .prop-price, .wpcf7 input[type=submit], .nf-form-cont input[type=submit], article[class^=col-].type-post .itre-read-more a,
article[class^=col-].type-page .itre-read-more a, article.list .prop-price, article.list .itre-read-more a {
  font-weight: var(--title-weight);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--body-font);
  font-size: 1.125rem;
  line-height: 1.875rem;
  -webkit-font-smoothing: antialiased;
  color: var(--body-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}

::selection {
  background-color: rgba(52, 109, 133, 0.2);
}

/* Links
--------------------------------------------- */
a {
  color: var(--accent);
  text-decoration: none;
  transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
}
a:hover, a:focus {
  text-decoration: underline;
  outline: none;
}

article.list .itre-read-more a, .wpcf7 input[type=submit], .nf-form-cont input[type=submit], #comments .comment .reply a, .itre-cta, #itre-front-blog .itre-front-blog-cta a {
  display: inline-block;
  background-color: var(--accent);
  padding: 0.8rem 1rem 0.65rem;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  border-radius: 0.3125rem;
}
article.list .itre-read-more a:hover, .wpcf7 input[type=submit]:hover, .nf-form-cont input[type=submit]:hover, #comments .comment .reply a:hover, .itre-cta:hover, #itre-front-blog .itre-front-blog-cta a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#comments a.url, #comments p a, body.single .entry-content a {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
#comments a.url:hover, #comments p a:hover, body.single .entry-content a:hover {
  text-decoration: underline;
}

/* Forms
--------------------------------------------- */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 0;
  border-radius: 0;
  background-color: var(--dark);
  color: white;
  padding: 0.4em 1em 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  outline: none;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
select,
textarea {
  color: #666;
  border-radius: 0;
  padding: 0.7rem;
  outline: none;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

textarea {
  width: 100%;
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
}

.section {
  margin-bottom: 4rem;
}

.section-title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.section-sub {
  text-align: center;
  color: var(--excerpt);
  width: 100%;
  margin: 0 auto;
  line-height: 1.5rem;
}
@media (min-width: 48rem) {
  .section-sub {
    width: 65%;
  }
}

.section-top {
  margin-bottom: 1.25rem;
}

#content {
  position: relative;
  z-index: 1;
}
body:not(.page-template-template-property-listings) #content {
  padding-top: 2em;
}
body:not(.page-template-template-property-listings) #content.box {
  background-color: white;
}
body.has-sidebar #content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 82.5rem;
  margin-left: auto;
  margin-right: auto;
}
body.has-sidebar #content > *:first-child {
  margin-left: -0.9375rem;
}
body.has-sidebar #content > *:last-child {
  margin-right: -0.9375rem;
}

header.page-header {
  text-align: center;
}

#itre-front-blog .itre-front-blog-cta {
  text-align: center;
}
/* Animations
--------------------------------------------- */
@keyframes activeTab {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
#itre-back-to-top {
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 3rem;
  bottom: 3rem;
  z-index: 9;
  color: var(--accent);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius);
  cursor: pointer;
  opacity: 0;
}
#itre-back-to-top i {
  padding: 1em 1.25em 1.2rem;
}

body.archive.post-type-archive-property .itre-property-archive-wrapper, body.archive.tax-location .itre-property-archive-wrapper, body.archive.tax-property-type .itre-property-archive-wrapper {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 2rem;
  max-width: 82.5rem;
}
@media (min-width: 48rem) {
  body.archive.post-type-archive-property .itre-property-archive-wrapper.col2, body.archive.tax-location .itre-property-archive-wrapper.col2, body.archive.tax-property-type .itre-property-archive-wrapper.col2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 48rem) {
  body.archive.post-type-archive-property .itre-property-archive-wrapper.col3, body.archive.tax-location .itre-property-archive-wrapper.col3, body.archive.tax-property-type .itre-property-archive-wrapper.col3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 64rem) {
  body.archive.post-type-archive-property .itre-property-archive-wrapper.col3, body.archive.tax-location .itre-property-archive-wrapper.col3, body.archive.tax-property-type .itre-property-archive-wrapper.col3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 48rem) {
  body.archive.post-type-archive-property .itre-property-archive-wrapper.col4, body.archive.tax-location .itre-property-archive-wrapper.col4, body.archive.tax-property-type .itre-property-archive-wrapper.col4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 64rem) {
  body.archive.post-type-archive-property .itre-property-archive-wrapper.col4, body.archive.tax-location .itre-property-archive-wrapper.col4, body.archive.tax-property-type .itre-property-archive-wrapper.col4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

#masthead {
  position: relative;
  background-color: var(--masthead-bg);
}
#masthead .top-wrapper {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#masthead > * {
  position: relative;
}
#masthead .custom-logo {
  max-height: 7.5rem;
  width: auto;
}
#masthead #header-video > *:not(img), #masthead #header-image > *:not(img), #masthead .slide-img > *:not(img), #masthead .itre-banner > *:not(img) {
  position: relative;
}
#masthead #header-video:before, #masthead #header-image:before, #masthead .slide-img:before, #masthead .itre-banner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#masthead .itre-hero-area {
  position: relative;
  max-width: 80%;
  margin: auto;
  text-align: center;
  z-index: 2;
  color: white;
}
#masthead .itre-hero-area h1 {
  font-size: 2.4em;
}
@media (min-width: 768px) {
  #masthead .itre-hero-area h1 {
    font-size: 4em;
  }
}
#masthead .itre-hero-area p {
  font-size: 1.2em;
}
#masthead .site-title, #masthead .site-description {
  margin-bottom: 0;
}
body #masthead .site-title a {
  font-size: 2rem;
  line-height: 1.2;
}
#masthead .layout2 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 64rem) {
  #masthead .layout2 .site-branding {
    margin-bottom: 0.65em;
  }
}
#masthead .layout2 ul li {
  text-align: left;
}
@media (min-width: 64rem) {
  #masthead .layout2 {
    display: block;
  }
}
#masthead .layout3 button.mobile-nav-btn {
  display: block !important;
}
#masthead.header-widget .header-widget-area-wrapper {
  overflow: hidden;
  padding: 1.25rem 0;
}
#masthead.header-widget .header-widget-area-wrapper > * {
  display: flex;
  align-items: center;
}
#masthead.header-widget .itre-hero-area {
  margin: 0;
  min-width: 50%;
  text-align: left;
}
#masthead.header-widget .header-widget-area {
  position: relative;
  z-index: 9;
  min-width: 50%;
}
#masthead.header-widget #header-image {
  height: auto;
}
@media (min-width: 48rem) {
  #masthead.header-widget #header-image {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}
#masthead.header-widget .header-wrapper {
  width: 100%;
  position: relative;
  z-index: 9;
  margin-top: 1.25rem;
  margin-bottom: 4rem;
}
@media (min-width: 48rem) {
  #masthead.header-widget .header-wrapper {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
  #masthead.header-widget .header-wrapper > * {
    width: 50%;
  }
}
#masthead.header-widget .header-hero-wrapper .itre-hero-area {
  padding-top: 2rem;
}
@media (min-width: 48rem) {
  #masthead.header-widget .header-hero-wrapper .itre-hero-area {
    padding-top: 0;
    text-align: initial;
    width: 100%;
    max-width: none;
  }
}
#masthead.header-widget .header-hero-wrapper p {
  color: white;
  margin-bottom: 2.5rem;
}
@media (min-width: 48rem) {
  #masthead.header-widget .header-hero-wrapper p {
    width: 60%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0;
  }
}
#masthead.header-widget .header-widget-area-wrapper .wpcf7, #masthead.header-widget .header-widget-area-wrapper .nf-form-content {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 0.5rem;
}
#masthead.header-widget .header-widget-area-wrapper .wpcf7 input,
#masthead.header-widget .header-widget-area-wrapper .wpcf7 select,
#masthead.header-widget .header-widget-area-wrapper .wpcf7 textarea, #masthead.header-widget .header-widget-area-wrapper .nf-form-content input,
#masthead.header-widget .header-widget-area-wrapper .nf-form-content select,
#masthead.header-widget .header-widget-area-wrapper .nf-form-content textarea {
  border-radius: 0.25rem;
  border: 0;
}
#masthead.header-widget .header-widget-area-wrapper .nf-error-msg {
  display: none;
}
#masthead.filter-simple {
  width: 100%;
}
#masthead.filter-simple .itre-header-filter-simple {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  z-index: 9;
}
#masthead.filter-simple #header-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#masthead.filter-simple .itre-property-filter {
  max-width: 62rem;
}
#masthead .header-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
#masthead .itre-header-video {
  z-index: 1;
}

.itre-header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15.625rem;
  position: relative;
  overflow: hidden;
}

#header-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  top: 0;
  left: 0;
}

#header-slider {
  position: relative;
  overflow: hidden;
}
#header-slider img {
  bottom: 0;
}
@media (min-width: 64rem) {
  #header-slider .itre-hero-area {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

#header-video {
  position: relative;
}

.nav-wrapper {
  display: none;
}
@media (min-width: 64rem) {
  .nav-wrapper {
    display: block;
  }
}

.main-navigation {
  width: auto;
}
.main-navigation a {
  padding: 0.5rem 1rem;
}
@media (min-width: 992px) {
  .main-navigation ul#primary-menu > li {
    display: inline-block;
    margin: 0;
    float: none;
  }
  .main-navigation ul#primary-menu > li.menu-item-has-children > a:after, .main-navigation ul#primary-menu > li.page_item_has_children > a:after {
    position: relative;
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 10px;
    line-height: 1;
  }
  .main-navigation ul#primary-menu > li > a {
    color: var(--nav-link);
  }
  .main-navigation ul#primary-menu > li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .main-navigation ul#primary-menu ul {
    flex-direction: column;
    opacity: 0;
    text-transform: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    font-weight: 400;
    background-color: var(--nav-bg);
  }
  .main-navigation ul#primary-menu ul a {
    color: var(--subnav-link);
  }
  .main-navigation ul#primary-menu ul a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .main-navigation ul#primary-menu ul li {
    float: none;
    display: block;
    position: relative;
    margin: 0;
  }
  .main-navigation ul#primary-menu ul li.menu-item-has-children > a:after, .main-navigation ul#primary-menu ul li.page_item_has_children > a:after {
    position: relative;
    content: "\f105";
    font-family: "FontAwesome";
    float: right;
  }
  .main-navigation ul#primary-menu ul li:hover > ul, .main-navigation ul#primary-menu ul li:focus-within > ul {
    left: 100%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  .main-navigation ul#primary-menu li:hover > ul, .main-navigation ul#primary-menu li:focus-within > ul {
    opacity: 1;
    left: auto;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

button.mobile-nav-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
}
button.mobile-nav-btn svg {
  width: 32px;
  height: 32px;
}
button.mobile-nav-btn svg rect {
  fill: black;
}
@media (min-width: 1024px) {
  button.mobile-nav-btn {
    display: none;
  }
}

button#close-menu {
  background-color: transparent;
  border: 0;
  margin: 1rem auto;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 0;
  height: 2.75rem;
  width: 2.75rem;
  line-height: 0;
  margin-left: 1rem;
}
button#close-menu:focus {
  outline: none;
}

#menu {
  position: fixed;
  top: 0;
  width: 60%;
  height: 100%;
  right: 0;
  z-index: 999;
  text-align: left;
  overflow-y: auto;
  background-color: var(--dark);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: transform 300ms ease-out;
  -webkit-transition: transform 300ms ease-out;
  -moz-transition: transform 300ms ease-out;
  -ms-transition: transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;
}
@media (min-width: 48rem) {
  #menu {
    width: 25.625rem;
  }
}
#menu .itre-cta {
  position: relative;
  margin: 1rem;
}
#menu .itre-cta:hover, #menu .itre-cta:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#menu .go-to-top {
  background: none;
  float: left;
  border: 0;
}
#menu .go-to-top i {
  color: white;
}
#menu .go-to-bottom {
  background: none;
  float: right;
  border: 0;
}
#menu .go-to-bottom i {
  color: white;
}
#menu ul {
  margin-left: 0px;
  padding: 0px;
  width: 100%;
}
#menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
#menu ul li:before {
  display: none;
}
#menu ul li a {
  display: inline-block;
  color: white;
  padding: 0.5rem 0.75rem;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#menu ul li.menu-item-has-children {
  display: block;
}
#menu ul li.menu-item-has-children span.dropdown-arrow {
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--accent);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  cursor: pointer;
}
#menu ul li.menu-item-has-children span.dropdown-arrow i {
  margin: auto;
  color: white;
  font-size: 20px;
}
#menu ul li.menu-item-has-children ul {
  display: none;
  background: rgba(255, 255, 255, 0.05);
}
#menu.expanded {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.admin-bar #menu {
  margin-top: 2.875rem;
}
@media (min-width: 48.9375rem) {
  .admin-bar #menu {
    margin-top: 2rem;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.is-visible {
  display: block !important;
}

/**
 *	Styling for the widget section of the theme
 */
.widget-area .widget {
  margin-bottom: 2em;
}
.widget .widget-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0.6em;
  padding-bottom: 0.4em;
  font-size: 1.5rem;
}
#itng-before-content .widget .widget-title {
  text-align: center;
}
.widget .widget-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 40px;
  background-color: var(--accent);
}
.widget .widget-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 40px;
  width: 40px;
  background-color: #ddd;
}
.widget.widget_search {
  position: relative;
}
.widget.widget_search label {
  margin: 0;
  width: 100%;
}
.widget.widget_search input[type=search] {
  border: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.3em 0.5em;
}
.widget.widget_search input[type=submit] {
  display: none;
}
.widget.widget_search .wp-block-search__inside-wrapper input[type=search] {
  background-color: #f5f5f5;
}
.widget ul, .widget ol {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.widget ul li, .widget ol li {
  position: relative;
}
.widget ul li a, .widget ol li a {
  color: var(--accent);
  transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.widget ul li a:hover, .widget ol li a:hover {
  text-decoration: underline;
}
.widget ul li:last-child, .widget ol li:last-child {
  margin-bottom: 0;
}

.itre-banner {
  position: relative;
  height: 31.25rem;
  overflow: hidden;
}
.itre-banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media (min-width: 48rem) {
  body.single .header-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
body.single .post-navigation {
  line-height: 1.5rem;
  position: relative;
}
body.single .post-navigation .nav-subtitle {
  color: var(--link);
}
body.single #itre_related_posts_wrapper h3 {
  margin-top: 0.25rem;
  font-size: 1.4375rem;
}
body.single #itre_related_posts_wrapper h3 a {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body.single #itre_related_posts_wrapper .entry-meta > *, body.single #itre_related_posts_wrapper body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer > *, body:not(.single):not(.page):not(.post-type-archive-property) #primary article body.single #itre_related_posts_wrapper footer > * {
  display: inline-block;
  width: auto;
}
body.single #author_box {
  border-top: solid 1px black;
  padding-top: 1rem;
  margin-bottom: 1em;
}
body.single #author_box .author_bio {
  line-height: 1.25rem;
}
body.single #author_box img {
  display: inline-block;
  border-radius: 50%;
}

/**
 *	Styling for the comment section of the theme
 */
#respond label {
  display: inline;
}
#respond textarea {
  padding: 0.5em;
  background-color: #f5f5f5;
  border-radius: var(--border-radius);
}

#comments {
  margin-top: 2em;
}
#comments .comments-title {
  margin-bottom: 1em;
}
#comments .comment-list {
  padding-left: 0;
}
#comments .comment-list, #comments ul.children {
  margin: 0;
  list-style: none;
}
#comments ol.comment-list {
  overflow: hidden;
}
#comments .comment-body {
  margin-bottom: 0.8em;
  padding-right: 1em;
}
#comments ul.children {
  padding-left: 0em;
}
#comments .comment {
  border: solid 1px #eee;
  border-radius: var(--border-radius);
  padding: 1em 0.3em 1em 1em;
  margin-bottom: 1em;
}
#comments .comment .vcard {
  margin-right: 0.75em;
}
#comments .comment .vcard a {
  color: var(--accent);
}
#comments .comment .vcard img {
  border-radius: 50%;
  margin-right: 0.75em;
}
#comments .comment .comment-meta a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  letter-spacing: 0.05em;
  margin-right: 0.75em;
}
#footer-sidebar {
  background-color: var(--footer-bg);
  padding-top: 3rem;
  color: var(--footer-text);
  text-align: center;
}
@media (min-width: 48rem) {
  #footer-sidebar {
    text-align: left;
  }
}
#footer-sidebar a {
  color: var(--footer-link);
  text-decoration: underline;
}
#footer-sidebar caption {
  color: var(--footer-text);
}
@media (min-width: 60rem) {
  #footer-sidebar .footer-column {
    padding-top: 3em;
  }
}

#colophon {
  background-color: var(--dark);
  color: white;
  text-align: center;
}
#colophon a {
  color: white;
  text-decoration: underline;
}
#colophon .site-info {
  padding: 0.2em 1em;
}

:root {
  --title-font: "League Spartan", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --title-weight: 700;
  --body-weight: 400;
  --border-radius: 10px;
  --body-text: #000000;
  --excerpt: #999999;
  --accent: #2e6d87;
  --dark: #08445d;
  --masthead-bg: white;
  --link: #999999;
  --link-hvr: #555555;
  --nav-bg: #2e6d87;
  --nav-link: #2e6d87;
  --subnav-link: white;
  --footer-bg: #08445d;
  --footer-link: white;
  --footer-text: white;
}

.main-navigation, .widget ul, .widget ol, #respond label {
  font-family: var(--title-font);
}

article.list h2, article[class^=col-].type-post h2,
article[class^=col-].type-page h2, body:not(.single-property) article.type-property.grid .listing-wrapper h2, body {
  font-weight: var(--body-weight);
}

article.list .prop-price, article[class^=col-].type-post .itre-read-more a,
article[class^=col-].type-page .itre-read-more a, body.single-property .prop-price, article.list .itre-read-more a, .wpcf7 input[type=submit], .nf-form-cont input[type=submit], button,
input[type=button],
input[type=reset],
input[type=submit], #itre-front-blog .itre-front-blog-cta a, .itre-cta, body #masthead .site-title a, #menu ul li.menu-item-has-children span.dropdown-arrow i, #comments .comment .reply a {
  font-weight: var(--title-weight);
}

.itre-property-filter {
  position: relative;
  background-color: var(--accent);
  border-radius: var(--border-radius);
  padding: 1.25rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}
body.page-template-template-property-listings .itre-property-filter {
  margin-top: -3.5rem;
}
.itre-property-filter-form-wrapper {
  gap: 1rem;
}
@media (min-width: 62rem) {
  .itre-property-filter-form-wrapper {
    grid-template-columns: 3fr 1fr;
  }
}
.itre-property-filter .filter-fields-wrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 62rem) {
  .itre-property-filter .filter-fields-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 48rem) {
  .itre-property-filter {
    margin-left: auto;
    margin-right: auto;
  }
}
.itre-property-filter select, .itre-property-filter input, .itre-property-filter button {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 3px;
}
.itre-property-filter select {
  background-color: white;
}
@media (max-width: 767px) {
  .itre-property-filter button {
    margin-top: 4px;
  }
}
.itre-property-filter button[type=button] {
  text-transform: uppercase;
}

.itre-nghbrhoods {
  min-height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.itre-nghbrhood {
  padding: 0.375rem 0.875rem;
  background-color: #dddddd;
  border-radius: 2rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}
.itre-nghbrhood.selected {
  background-color: #cccccc;
}

.itre-property-listing {
  margin-top: 1rem;
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 48rem) {
  .itre-property-listing {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 64rem) {
  .itre-property-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

body.single-property .post-thumbnail img {
  border-radius: var(--border-radius);
}
body.single-property .entry-meta, body.single-property body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer, body:not(.single):not(.page):not(.post-type-archive-property) #primary article body.single-property footer {
  color: var(--link);
}
body.single-property .entry-meta i, body.single-property body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer i, body:not(.single):not(.page):not(.post-type-archive-property) #primary article body.single-property footer i {
  color: var(--accent);
}
body.single-property .entry-meta svg, body.single-property body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer svg, body:not(.single):not(.page):not(.post-type-archive-property) #primary article body.single-property footer svg {
  margin-right: 5px;
  margin-bottom: 5px;
}
body.single-property .entry-meta svg polygon, body.single-property body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer svg polygon, body:not(.single):not(.page):not(.post-type-archive-property) #primary article body.single-property footer svg polygon, body.single-property .entry-meta svg path, body.single-property body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer svg path, body:not(.single):not(.page):not(.post-type-archive-property) #primary article body.single-property footer svg path {
  fill: var(--accent);
}
body.single-property .entry-meta a, body.single-property body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer a, body:not(.single):not(.page):not(.post-type-archive-property) #primary article body.single-property footer a {
  text-decoration: underline;
}
body.single-property .prop-price {
  color: #60ce19;
}
body.single-property #property-map {
  height: 500px;
  width: 100%;
}

body:not(.single-property) article.type-property .itre_address {
  color: #999999;
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: pre-wrap;
  margin-top: 0.75rem;
}
body:not(.single-property) article.type-property .itre_features {
  margin-top: 2rem;
  border-top: solid 1px #eeeeee;
  padding-top: 0.6em;
  padding-bottom: 0.8em;
  font-size: 0.875rem;
}
body:not(.single-property) article.type-property .itre_features i {
  color: var(--accent);
}
body:not(.single-property) article.type-property .itre_features svg {
  vertical-align: baseline;
}
body:not(.single-property) article.type-property .itre_features svg > * {
  fill: var(--accent);
}
body:not(.single-property) article.type-property .itre_features > span {
  margin-right: 0.6em;
}
body:not(.single-property) article.type-property .itre_features > span span {
  margin: auto 0.25em;
}
@media (min-width: 48rem) {
  body:not(.single-property) article.type-property .itre_features {
    margin-top: auto;
  }
}
body:not(.single-property) article.type-property .itre-for-tag {
  position: absolute;
  left: 0.6em;
  top: 0.5em;
}
body:not(.single-property) article.type-property.grid {
  margin-bottom: 1.625rem;
}
body:not(.single-property) article.type-property.grid .listing-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
body:not(.single-property) article.type-property.grid .listing-wrapper .itre-prop-thumb {
  position: relative;
}
body:not(.single-property) article.type-property.grid .listing-wrapper .itre-prop-thumb .prop-price {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: var(--accent);
  font-weight: var(--bold);
  font-size: 1.2em;
  padding: 0.4em 0.75rem 0.3125rem;
  opacity: 0.85;
}
body:not(.single-property) article.type-property.grid .listing-wrapper > *:not(.itre-prop-thumb) {
  padding: 0 1rem;
  line-height: 1.2;
}
body:not(.single-property) article.type-property.grid .listing-wrapper > *:nth-last-child(2) {
  margin-bottom: 2.5rem;
}
body:not(.single-property) article.type-property.grid .listing-wrapper > *:not(.itre-prop-thumb) {
  padding: 0 1rem;
  line-height: 1.2;
}
body:not(.single-property) article.type-property.grid .listing-wrapper h2 {
  margin: 0.875rem auto 0.25rem;
  font-size: 1.75rem;
  line-height: 2rem;
}
body:not(.single-property) article.type-property.grid .listing-wrapper a {
  color: black;
}
body:not(.single-property) article.type-property.grid .listing-wrapper .itre_features {
  margin-top: auto;
  border-top: solid 1px #eeeeee;
  padding-top: 0.625rem;
  padding-bottom: 0.875rem;
}
body:not(.single-property) article.type-property.grid .listing-wrapper .itre_features i {
  color: var(--accent);
}
body:not(.single-property) article.type-property.grid .listing-wrapper .itre_features > span {
  margin-right: 0.625rem;
}
body:not(.single-property) article.type-property.grid .listing-wrapper .itre_features > span span {
  margin: auto 0.25rem;
}
body:not(.single-property) article.type-property.grid.property-tab .entry-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.63) 0%, hsla(0, 0%, 0%, 0.621) 0.8%, hsla(0, 0%, 0%, 0.597) 2.9%, hsla(0, 0%, 0%, 0.562) 6.4%, hsla(0, 0%, 0%, 0.517) 11%, hsla(0, 0%, 0%, 0.464) 16.6%, hsla(0, 0%, 0%, 0.406) 23.1%, hsla(0, 0%, 0%, 0.344) 30.4%, hsla(0, 0%, 0%, 0.281) 38.3%, hsla(0, 0%, 0%, 0.22) 46.7%, hsla(0, 0%, 0%, 0.162) 55.4%, hsla(0, 0%, 0%, 0.11) 64.4%, hsla(0, 0%, 0%, 0.065) 73.5%, hsla(0, 0%, 0%, 0.03) 82.5%, hsla(0, 0%, 0%, 0.008) 91.4%, hsla(0, 0%, 0%, 0) 100%);
  padding-top: 2rem;
  padding-bottom: 0.875rem;
}
body:not(.single-property) article.type-property.grid.property-tab .listing-wrapper {
  position: relative;
  height: auto;
}
body:not(.single-property) article.type-property.grid.property-tab .itre-for-tag {
  left: unset;
  right: 0.625rem;
}
body:not(.single-property) article.type-property.grid.property-tab .prop-price {
  bottom: unset !important;
  top: 0;
}
body:not(.single-property) article.type-property.grid.property-tab h2 {
  color: white;
}

.spinner {
  width: 100%;
  min-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner svg {
  width: 5rem;
  height: 5rem;
  animation: svgRotate 1000ms linear infinite;
}

@keyframes svgRotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.itre-for-tag {
  color: white;
  line-height: 1;
  padding: 0.4em 0.4375rem 0.25rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 0.85em;
}
.itre-for-tag.sale {
  background-color: rgba(121, 217, 18, 0.8);
}
.itre-for-tag.rent {
  background-color: rgba(229, 209, 23, 0.8);
}
.itre-for-tag.sold {
  background-color: rgba(41, 162, 204, 0.8);
}
.itre-for-tag.coming-soon {
  background-color: rgba(92, 21, 119, 0.8);
}
.itre-for-tag.active {
  background-color: rgba(162, 54, 198, 0.8);
}

.itre-pagination .nav-links {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.itre-pagination .nav-links > * {
  display: flex;
  align-items: center;
}
.itre-pagination .nav-links > *:not(:last-child) {
  margin-right: 1.25rem;
}
.itre-pagination .nav-links a.page-numbers:not(.next):not(.prev) {
  background-color: var(--accent);
  overflow: hidden;
  border-radius: 0.25rem;
}
.itre-pagination .nav-links a.page-numbers:not(.next):not(.prev) span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 2.75rem;
  height: 2.75rem;
}
.itre-pagination .nav-links a.page-numbers:not(.next):not(.prev):hover {
  filter: brightness(110%);
}

.wpcf7 label, .wpcf7 span:not(.wpcf7-list-item):not(.wpcf7-list-item-label), .nf-form-cont label, .nf-form-cont span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) {
  width: 100%;
}
.wpcf7 label > input:not([type=checkbox]):not([type=radio]), .wpcf7 label > select, .wpcf7 span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) > input:not([type=checkbox]):not([type=radio]), .wpcf7 span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) > select, .nf-form-cont label > input:not([type=checkbox]):not([type=radio]), .nf-form-cont label > select, .nf-form-cont span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) > input:not([type=checkbox]):not([type=radio]), .nf-form-cont span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) > select {
  width: 100%;
}
.wpcf7 input[type=submit], .nf-form-cont input[type=submit] {
  background-color: var(--accent);
}

.nf-form-fields-required {
  display: none;
}
.nf-after-field {
  display: none;
}
.nf-error .ninja-forms-field {
  background-color: rgb(255, 228, 228);
}
.header-widget .nf-field-container {
  margin-bottom: 1.25rem;
}

article[class^=col-].type-post,
article[class^=col-].type-page {
  margin-bottom: 1.8em;
}
article[class^=col-].type-post .listing-wrapper,
article[class^=col-].type-page .listing-wrapper {
  flex-direction: column;
  background-color: white;
  margin-bottom: 1.625rem;
}
article[class^=col-].type-post .itre-col-thumb img,
article[class^=col-].type-page .itre-col-thumb img {
  width: 100%;
}
article[class^=col-].type-post h2,
article[class^=col-].type-page h2 {
  font-size: 1.5rem;
  margin: 0.5rem auto;
}
article[class^=col-].type-post h2 a,
article[class^=col-].type-page h2 a {
  color: black;
}
article[class^=col-].type-post .itre-col-wrapper,
article[class^=col-].type-page .itre-col-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 100%;
}
article[class^=col-].type-post .itre-col-wrapper > *:not(.itre-col-thumb),
article[class^=col-].type-page .itre-col-wrapper > *:not(.itre-col-thumb) {
  padding: 0 0.6em;
}
article[class^=col-].type-post .entry-content,
article[class^=col-].type-page .entry-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
article[class^=col-].type-post .entry-meta > *:first-child, body:not(.single):not(.page):not(.post-type-archive-property) #primary article[class^=col-].type-post footer > *:first-child,
article[class^=col-].type-page .entry-meta > *:first-child,
body:not(.single):not(.page):not(.post-type-archive-property) #primary article[class^=col-].type-page footer > *:first-child {
  margin-left: 0;
}
article[class^=col-].type-post .entry-content,
article[class^=col-].type-page .entry-content {
  margin-top: 0;
  margin-bottom: 0.6em;
}
article[class^=col-].type-post .itre-read-more,
article[class^=col-].type-page .itre-read-more {
  margin-top: auto;
  margin-bottom: 1em;
}
article[class^=col-].type-post .itre-read-more a,
article[class^=col-].type-page .itre-read-more a {
  text-transform: uppercase;
  margin: 0.4em auto 1em;
}
article[class^=col-].type-post.col-md-6 h2,
article[class^=col-].type-page.col-md-6 h2 {
  font-size: 1.5em;
}

article.classic {
  text-align: center;
}
article.classic .post-thumbnail img {
  margin: 0.8em auto;
  border-radius: var(--border-radius);
}
article.classic .entry-content {
  margin-top: 0.5em;
}

body:not(.single):not(.page):not(.post-type-archive-property) #primary article {
  margin-bottom: 3rem;
}
body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer a {
  margin: auto 0.1875rem;
}

.entry-title a {
  color: var(--body-text);
}

.entry-meta, body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer, footer.entry-footer, .comment-meta {
  color: var(--accent);
  margin: 0.75rem auto;
}
.entry-meta a, body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer a, footer.entry-footer a, .comment-meta a {
  margin-right: 0.25rem;
}
.entry-meta span, body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer span, footer.entry-footer span, .comment-meta span {
  margin-right: 0.875rem;
}
.entry-meta i, body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer i, footer.entry-footer i, .comment-meta i {
  display: inline-block;
  font-size: 1.3125rem;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
.entry-meta a:not(.post-edit-link), body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer a:not(.post-edit-link), footer.entry-footer a:not(.post-edit-link), .comment-meta a:not(.post-edit-link) {
  color: var(--link);
}
.entry-meta a:not(.post-edit-link):hover, body:not(.single):not(.page):not(.post-type-archive-property) #primary article footer a:not(.post-edit-link):hover, footer.entry-footer a:not(.post-edit-link):hover, .comment-meta a:not(.post-edit-link):hover {
  color: var(--link-hvr);
}

article.list {
  position: relative;
}
@media (min-width: 48rem) {
  article.list {
    min-height: 15rem;
  }
}
article.list .listing-wrapper {
  border: solid 1px #eeeeee;
  border-radius: var(--border-radius);
  overflow: hidden;
}
@media (min-width: 48rem) {
  article.list .listing-wrapper {
    display: flex;
    height: 100%;
  }
}
article.list h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  article.list h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
article.list .prop-price-info {
  display: flex;
  align-items: center;
}
article.list .prop-price {
  color: var(--accent);
  font-size: 2.125rem;
  line-height: 1;
}
@media (min-width: 48rem) {
  article.list .prop-price {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 48rem) {
  article.list .itre-prop-thumb {
    flex-basis: 35%;
    flex-shrink: 0;
  }
}
article.list .itre-prop-thumb figure {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: 48rem) {
  article.list .itre-prop-thumb figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
article.list .itre-prop-content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  article.list .itre-prop-content {
    flex-basis: 65%;
    padding: 1rem 1rem 0;
  }
}
article.list .entry-meta > *, body:not(.single):not(.page):not(.post-type-archive-property) #primary article.list footer > * {
  margin-left: 0.2em;
  margin-right: 1.4em;
}
article.list .entry-content {
  margin-top: 0;
}
article.list .itre-read-more {
  margin-top: auto;
}
article.list .itre-read-more a:hover {
  text-decoration: none;
}
article.list .itre-list-content-wrapper {
  display: flex;
  flex-direction: column;
}
