//Styling for Classic Layout

article.classic {
    text-align: center;

    .post-thumbnail {
        display: block;

        width: 100%;
        max-width: 50rem;
        margin: auto;
        position: relative;
        padding-bottom: 50%;
        overflow: hidden;
    }
    
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        border-radius: var(--border-radius);
    }
    .entry-content {
        margin-top: 0.5em;
    }
}
