article[class^='col-'].type-post,
article[class^='col-'].type-page {
    margin-bottom: 1.8em;
    .listing-wrapper {
        flex-direction: column;
        background-color: white;
        margin-bottom: 1.625rem;
    }
    .itre-col-thumb {
        
        img {
            width: 100%;
        }
    }
    h2 {
        font-size: 1.5rem;
        margin: 0.5rem auto;
        @extend %regular;

        a {
            color: black;
        }
    }
    .itre-col-wrapper {
        display: flex;
        flex-direction: column;
        box-shadow: $shadow1;
        border-radius: var(--border-radius);
        overflow: hidden;
        height: 100%;
        > *:not(.itre-col-thumb) {
            padding: 0 0.6em;
        }
    }
    .entry-content {
        @include line-clamp(3);
    }
    .entry-meta {
        > * {
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .entry-content {
        margin-top: 0;
        margin-bottom: 0.6em;
    }
    .itre-read-more {
        margin-top: auto;
        margin-bottom: 1em;
        a {
            text-transform: uppercase;
            margin: 0.4em auto 1em;
            @extend %bold;
        }
    }
    &.col-md-6 {
        h2 {
            font-size: 1.5em;
        }
    }
}
