// General Styling for Blog Layouts

body:not(.single):not(.page):not(.post-type-archive-property) {
    #primary article {
        margin-bottom: 3rem;
        footer {
            @extend .entry-meta;
            a {
                margin: auto 0.1875rem;
            }
        }
    }
}

.entry-title {
    a {
        color: var(--body-text);
    }
}

.entry-meta, footer.entry-footer, .comment-meta {
    color: var(--accent);
    margin: 0.75rem auto;
    
    a {
        margin-right: 0.25rem;
    }

    span {
        margin-right: 0.875rem;
    }

    i {
        display: inline-block;
         font-size: 1.3125rem;
         position: relative;
         top: 1px;
         margin-right: 5px;
    }

    a:not(.post-edit-link) {
        color: var(--link);

        &:hover {
            color: var(--link-hvr);
        }
    }
}